# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Model files
model/
*.pkl
*.joblib


# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log